name: Lint
on:
  push:
  pull_request:

jobs:
  fmt:
    name: Fmt etc
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy,rustfmt

      - name: Rustfmt Check
        uses: actions-rust-lang/rustfmt@v1

      - name: Clippy
        run: cargo clippy
